# Compilação e Build*.class.class*.jar*.war*.ear*.original*.class*.lstbuild/# Dependências*.log*.tmp*.swp*.swo.swp# IDEs# IntelliJ IDEA.idea/*.iml*.iws# Eclipse.project.classpath.settings/# NetBeansnbproject/# Outros arquivos temporários.DS_Store*.log*.tmp# Arquivos de sistemaThumbs.dbDesktop.ini# igtarget/